/*
===================================
|| FEATURES                       |
===================================
*/
.feature {
  background-color: var(--CLR-GRAY-10);
}
.feature__list {
  list-style: none;
}

.feature__item {
  padding-block: 4rem;
  text-align: center;
  transition: var(--TRANSITION-PRIMARY);
}
.feature__item:hover {
  background-color: var(--CLR-WHITE);
  box-shadow: 0 2px var(--CLR-PRIMARY);
}
.feature__item__icon {
  font-size: 4rem;
  color: var(--CLR-PRIMARY);
  margin-block-end: 0.5em;
  display: block;
}
.feature__item__icon > i {
  transition: var(--TRANSITION-PRIMARY);
}
.feature__item:hover .feature__item__icon > i {
  transform: translateY(-5px) scale(1.2);
}
.feature__item__text {
  font-size: 1.6rem;
  color: var(--CLR-GRAY-5);
  max-width: 27rem;
  margin-inline: auto;
}
@media screen and (min-width: 33em) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
  }
  .feature__list__item__container {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 75em) {
  .feature__list__item__container {
    flex-basis: 25%;
  }
}
/*
===================================
|| ABOUT                          |
===================================
*/
.about__img__container,
.about__text__container {
  padding-block: 3.2em;
}
.about__img__wrapper {
  background-color: var(--CLR-PRIMARY);
  border: 0.5rem solid var(--CLR-PRIMARY);
  max-width: 48rem;
  overflow: hidden;
}
.about__img {
  transition: var(--TRANSITION-PRIMARY);
}
.about__img__wrapper:hover .about__img {
  transform: scale(1.2);
  opacity: 0.5;
}
.about__text {
  max-width: 46rem;
  font-size: 1.6rem;
  color: var(--CLR-GRAY-5);
}

/*
===================================
|| PRODUCTS                       |
===================================
*/
.products {
  background-color: var(--CLR-GRAY-10);
}
.product__info,
.product__list {
  padding-block: 3.2em;
}
.product__text {
  color: var(--CLR-GRAY-5);
  max-width: 46rem;
  font-size: 1.6rem;
}

.product__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.product__img {
  border-radius: var(--RADIUS-PRIMARY);
  margin-block-end: 3.2em;
  width: 100%;
  height: 27rem;
  object-fit: cover;
}
.product__price {
  color: var(--CLR-PRIMARY);
  font-weight: 700;
  font-size: clamp(1.4rem, 5vw, 1.6rem);
  letter-spacing: var(--LETTER-SPACING-PRIMARY);
  line-height: 1.25;
}
@media screen and (min-width: 48em) {
  .product__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
  }

  .product__item__container {
    /* max-width: 50%; */
    /* width: calc(50% - 2rem); */
    flex-basis: calc(50% - 1rem);
    /* max-width: 50%; */
  }
}
@media screen and (min-width: 62em) {
  .product__list {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 75em) {
  .products__container {
    display: flex;
    gap: 1rem;
  }
  .product__info {
    flex-basis: 30%;
    /* width: 30%; */
  }
  .product__list {
    flex-basis: 70%;
    /* width: 70%; */
  }
  .product__item__container {
    padding: 1em;
  }
}

/*
===================================
|| SERVICES                       |
===================================
*/

.services__header {
  margin-block-start: 6.4em;
  margin-block-end: -6.4em;
  text-align: center;
}
.service__list {
  list-style-type: none;
}
.service__card {
  margin-block: 3.2em;
  background-color: var(--CLR-GRAY-10);
  border-radius: var(--RADIUS-PRIMARY);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--TRANSITION-PRIMARY);
}
.service__card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.service__img {
  height: 27rem;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: var(--RADIUS-PRIMARY);
  border-top-right-radius: var(--RADIUS-PRIMARY);
}

.service__title,
.service__desc,
.service__btn__container {
  text-align: center;
  padding-inline: 1rem;
}

.service__title {
  padding-block-start: 4rem;
}
.service__desc {
  font-size: 1.6rem;
  max-width: 32rem;
  margin-inline: auto;
  color: var(--CLR-GRAY-5);
}
.service__btn__container {
  margin-block-start: 1.2rem;
  padding-block-end: 2.5rem;
}
.service__btn,
.service__btn:any-link {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.5em 0.8em;
  border-radius: var(--RADIUS-PRIMARY);
  font-weight: 400;
}

@media screen and (min-width: 48em) {
  .service__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }
  .service__card__container {
    flex-basis: calc(50% - 2rem);
  }
}

@media screen and (min-width: 62em) {
  .service__list {
    justify-content: space-between;
  }
  .service__card__container {
    flex-basis: calc(33% - 4rem);
  }
}

.service__img__container {
  position: relative;
}
.service__icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  background-color: var(--CLR-PRIMARY-LIGHT);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--CLR-PRIMARY);
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  border: 0.375rem solid var(--CLR-GRAY-10);
}
/*
===================================
|| CONTACT                        |
===================================
*/

.contact {
  background-color: var(--CLR-GRAY-10);
}
.contact__form,
.contact__info {
  margin-block: 1em;
}
.contact__info {
  font-style: normal;
}
/* contact info */
.contact__item {
  margin-block-end: 2.8em;
}
.contact__title {
  color: var(--CLR-PRIMARY);
  font-weight: 400;
}

.contact__text {
  text-transform: uppercase;
  margin-block-end: 1.25em;
  font-size: 1.6rem;
  color: var(--CLR-GRAY-1);
  letter-spacing: var(--LETTER-SPACING-PRIMARY);
  line-height: 1.25;
  font-weight: 700;
}
@media screen and (min-width: 50em) {
  .contact__text {
    line-height: 1.5;
  }
}
/* contact form */
.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contact__form {
  border-radius: var(--RADIUS-PRIMARY);
  background-color: var(--CLR-WHITE);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--TRANSITION-PRIMARY);
  max-width: 56rem;
  width: 100%;
}
.contact__form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.form__title {
  padding-block-start: 1.2rem;
  color: var(--CLR-GRAY-5);
}

.form__group {
  padding: 1.6em 2.4em;
}
.form__control {
  display: block;
  width: 100%;
  padding: 0.75em 1em;
  font-size: 1.6rem;
  border: none;
  margin-block-end: 1.25em;
  background-color: var(--CLR-GRAY-10);
  border-radius: var(--RADIUS-PRIMARY);
  text-transform: uppercase;
  letter-spacing: var(--LETTER-SPACING-PRIMARY);
}

.form__control::placeholder {
  font-family: var(--FF-PRIMARY);
  color: var(--CLR-GRAY-1);
  text-transform: uppercase;
  letter-spacing: var(--LETTER-SPACING-PRIMARY);
}

.submit__btn {
  display: block;
  width: 100%;
  padding: 1em;
  border-bottom-left-radius: var(--RADIUS-PRIMARY);
  border-bottom-right-radius: var(--RADIUS-PRIMARY);
}

@media screen and (min-width: 62em) {
  .contact__container {
    flex-direction: row;
    align-items: stretch;
  }
  .contact__form,
  .contact__info {
    flex-basis: 50%;
  }
}
